.dialogs-item {
  position: relative;
  padding-left: 10px;
  border-radius: 10px;
  flex: 1 0;
  display: flex;
  width: 100%;
  height: 60px;
  background: #ccc2c2;
  align-items: center;
  &:hover{
    background: #b4acac;
    transform: scale(1.05);
  }
}

.dialogs-item._active {
  background: #8b8585;
}

.dialogs-item {
 

  &__text {
    flex: 1 0;
    padding: 10px 0 ;
    margin-left: 10px;
    width: 100%;
    font-weight: bold;
  }

  &__name {
    flex: 1 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 170px;
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  &__rating {
    font-size: 1rem;
    color: #08BD7C;
  }

  &__new-messages {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    width: 25px;
    padding: 3px;
    border-radius: 10px;
    background: rgb(240,140,157);
    border: solid 1px rgb(112, 83, 156);
    color: rgb(112, 83, 156);
  }

  &__data {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
  &__avatar {
  border-radius: 50% ;
    height: 40px;
    width: 40px;
    font-size: 2rem;


  }
 
}