.login-form {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-right: 30px;

  &__item {
    flex: 1 1 auto;
    max-width: 500px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    border-radius: 3px;
  }

  &__login {
    padding-left: 15px;

  }

  &__password {
    border-radius: 3px 0px 0px 3px;

    flex: 1 1 auto;
    padding-left: 15px;
    font-size: 1.4rem;

  }

  &__forgot-button {
    border-radius: 0px 3px 3px 0px;


    width: 25%;
    justify-content: center;
    align-items: center;
  }

  &__registration {
    margin-top: 20px;
  }

  &__text {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: white;
  }

  &__to-registration {
    text-transform: uppercase;
    border-radius: 3px;
    width: 100%;
    padding-left: 10px;
    flex: 1 1 auto;
    max-width: 500px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 16px;
  }
}