.registration {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;

  &__form {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
  }
  
  &__item {
    border-radius: 3px;
    font-size: 1.4rem;
    padding-left: 10px;
    flex: 1 1 auto;
    max-width: 500px;
    height: 40px;
    margin-bottom: 15px;
    width: 95%;

  }

  &__item input {

    padding-left: 15px;
  }

  &__login {
    padding-left: 15px;
  }

  &__btn {
  }
  &__error{
    margin-left: 5px;
    width: 95%;
    font-size: 0.9rem;
    position: absolute;
    color: red;
  }
}