.emoji {
  $self: &;
  position: relative;




  &__block {
    position: absolute;
    bottom: 130%;
    right: 0;
  }

  &__smile {
    height: 100%;
    &._active {
      opacity: 1;
    }
    color: rgb(177, 177, 30);
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
    background: #ffffff;
    border: solid 1px #8a8989;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  &__smile-icon {
    border-radius: 50%;
    ._active & {
      color: rgb(255, 251, 0);
      background: #000;
    }
    &:hover {
      color: rgb(255, 251, 0);
      background: #000;
    }
  }


  &__smile {}

  .emoji-picker-react {
    border-radius: 10px;
  }
}